<div id="header" class="header">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons">home</i><%= __('TeamName')%></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse header-nav"><i
                        class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/"><i class="material-icons">dashboard</i></a></li>
                <li><a href="/deviceManagement"><i class="material-icons">device_hub</i></a></li>
                <li><a href="/heatMap"><i class="material-icons">pageview</i></a></li>
                <li><a href="/arcontroller"><i class="material-icons">remove_red_eye</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/"><i class="material-icons">dashboard</i><%= __('Dashboard')%></a></li>
                <li><a href="/deviceManagement"><i class="material-icons">device_hub</i><%= __('Device Management')%></a></li>
                <li><a href="/heatMap"><i class="material-icons">pageview</i><%= __('Utilization Monitor')%></a></li>
                <li><a href="/arcontroller"><i class="material-icons">remove_red_eye</i><%= __('Smart Home Controller')%></a></li>
            </ul>
            <div class="nav-content">
                <a data-activates="slide-out"
                   class="btn-floating btn-large halfway-fab waves-effect waves-light teal left-header-button side-nav-button">
                    <i class="material-icons">speaker_notes</i>
                </a>
                <a href="/arcontroller" class="btn-floating btn-large halfway-fab waves-effect waves-light teal pulse">
                    <i class="material-icons">remove_red_eye</i>
                </a>
            </div>
        </div>
    </nav>
</div>